@{
    ViewBag.Title = "Nhanvien";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<!-- knockout -->

<script src="~/Content/knockout/knockout-3.1.0.js"></script>
<script src="~/Content/jquery/jquery.min.js"></script>
<script src="~/Content/knockout/knockout.validation.min.js"></script>

<link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
<script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/bootstrap/js/bootstrap.plugins.min.js"></script>

<h2 class="caption">Nhân viên</h2>
<div class="row-fluid">
    <!---Left -->
    <div class="span6">
        <div class="w-box-header">
            <i class="icon-list"></i>&nbsp;Danh sách Nhân viên(<span data-bind="html: CountSearch() + '/' + List().length"></span>)
            <span class="pull-right">
                <a class="btn btn-success" data-bind="click: CreateHanghoa"><i class=" icon-plus icon-white"></i></a>
            </span>
        </div>

        <div class="w-box-content cnt_a" data-bind="fadeVisible: true">
            <div class="form-vertical">
                <div class="row-fluid">
                    <input class="controls" data-bind="value: SearchName, valueUpdate: 'afterkeydown', event: { keyup: btnSearchName }" />
                    <a class="btn btn-success" data-bind="click: btnSearchName"><span class="icon-search icon-white"></span></a>
                </div>
                <div class="row-fluid">
                    <div style="height: 430px; overflow: auto;">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="">Họ tên</th> 
                                        <th class="">Địa chỉ</th> 
                                        <th class="">Email</th> 
                                        <th class="">Sđt</th>  
                                        <th class="">Tài khoản</th> 
                                        <th class="">Mật khẩu</th> 
                                        <th colspan="2"></th>
                                    </tr>
                                </thead>
                                <tbody data-bind="template: { name: 'RowItem', foreach: List }"></tbody>
                                <tfoot data-bind="visible: List().length == 0">
                                    <tr>
                                        <td colspan="8">Không có dữ liệu</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script id="RowItem" type="text/html">
            <tr data-bind="css: { normalrow: (($index() % 2) == 0), alternativerow: ($index() % 2 != 0) }, visible: IsVisible() == true">
                <td style='font-weight: bold; display:none'><a style='cursor: pointer'><span data-bind='html: NhanvienId,click: $root.btnSetCurrent'></span></a></td>
                <td style='font-weight: bold;'><a style='cursor: pointer'><span data-bind='html: Hoten,click: $root.btnSetCurrent'></span></a></td>
                <td style='font-weight: normal;'><span data-bind='html: Diachi'></span></td>
                <td style='font-weight: normal;'><span data-bind='html: Email'></span></td>
                <td style='font-weight: normal;'><span data-bind='html: Sdt'></span></td> 
                <td style='font-weight: normal;'><span data-bind='html: UserId'></span></td> 
                <td style='font-weight: normal;'><span data-bind='html: Password'></span></td> 
                <td style="text-align: right;">
                    <a href="#" class="btn btn-warning" title="Sửa hàng hóa" data-bind="click: $root.Edit"><i class="icon-edit icon-white"></i></a>
                </td>
                <td style="text-align: right;">
                    <a href="#" class="btn btn-danger" title="Xóa hàng hóa" data-bind="click: $root.remove"><i class="icon-remove icon-white"></i></a>
                </td>
            </tr>
        </script>
    </div>
    <!---End Left -->
    <!---Right -->
    <div class="span6" data-bind="with: Current">
        <div class="w-box-header">
            <i class="icon-list"></i>&nbsp;Thông tin chi tiết
        </div>
        <div class="w-box-content cnt_a" data-bind="fadeVisible: true">
            <div class="form-vertical">
                <div class="row-fluid">
                    <div style="height: 456px; overflow: auto;">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" border="1">
                                <tbody>
                                    <tr style="display:none"><td class=''>NhanvienId</td><td class=''><span data-bind='text: NhanvienId, visible: IsEdit()==false'></span><input type='text' data-bind='value: NhanvienId, visible: IsEdit()' /></td></tr>
                                    <tr><td class=''>Họ tên</td><td class=''><span data-bind='text: Hoten, visible: IsEdit()==false'></span><input type='text' data-bind='value: Hoten, visible: IsEdit()' style="height:30px"/></td></tr>
                                    <tr><td class=''>Địa chỉ</td><td class=''><span data-bind='text: Diachi, visible: IsEdit()==false'></span><input type='text' data-bind='value: Diachi, visible: IsEdit()' style="height:30px" /></td></tr>
                                    <tr><td class=''>Email</td><td class=''><span data-bind='text: Email, visible: IsEdit()==false'></span><input type='email' data-bind='value: Email, visible: IsEdit()' style="height:30px" /></td></tr>
                                    <tr><td class=''>Sđt</td><td class=''><span data-bind='text: Sdt, visible: IsEdit()==false'></span><input type='number' data-bind='value: Sdt, visible: IsEdit()' style="height:30px" /></td></tr>
                                    <tr><td class=''>Tải Khoản</td><td class=''><span data-bind='text: UserId, visible: IsEdit()==false'></span><input type='text' data-bind='value: UserId, visible: IsEdit()' style="height:30px" /></td></tr>
                                    <tr><td class=''>Mật khẩu</td><td class=''><span data-bind='text: Password, visible: IsEdit()==false'></span><input type='text' data-bind='value: Password, visible: IsEdit()' style="height:30px" /></td></tr>

                                     <tr style="border-width: 0px">
                                        <td></td>
                                        <td >
                                            <button data-bind="visible: IsEdit()==true, click: $root.luuHanghoa" class="btn btn-primary">Lưu <i class="icon-ok icon-white"></i></button>
                                            <button data-bind="click: $root.Thoat,visible: IsEdit()==true" class="btn btn-default">Hũy <i class="icon-trash"></i></button>
                                        </td>
                                    </tr>                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---End Right -->
<script src="~/Scripts/Insite/Views/Nhanvien/NhanvienModel.js"></script>
<script src="~/Scripts/Insite/Views/Nhanvien/NhanvienViewModel.js"></script>
